#
# Monit Config CasC provisioned by Ansible on {{ ansible_date_time.date }}
#

check system {{ ansible_facts.hostname }}
  if loadavg (5min) > {{ ansible_facts.processor_vcpus }} then alert
  if cpu usage > 80% for 4 cycles then alert
  if memory usage > 80% for 4 cycles then alert

check filesystem "/" with path /
 if space usage > 90% for 2 cycles then alert
