# ----------------------------------------------------------
# General https://www.freebsd.org/cgi/man.cgi?sshd_config(5)
# ----------------------------------------------------------
Port 922

HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# ----------------------------------------------------------
# Ciphers and keying
# ----------------------------------------------------------
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com

# ----------------------------------------------------------
# Logging
# ----------------------------------------------------------
SyslogFacility AUTH
LogLevel VERBOSE

# ----------------------------------------------------------
# Authentication:
# ----------------------------------------------------------
StrictModes yes
LoginGraceTime 1m
PermitRootLogin no

IgnoreRhosts yes
PermitEmptyPasswords no
PubkeyAuthentication yes
PasswordAuthentication no
HostbasedAuthentication no
ChallengeResponseAuthentication yes

UsePAM yes
UseDNS no
PermitTTY yes
GatewayPorts no
X11Forwarding yes
X11DisplayOffset 10
X11UseLocalhost yes
TCPKeepAlive no
Compression no
ClientAliveInterval 30
ClientAliveCountMax 240
PermitUserEnvironment no

MaxAuthTries 3
MaxSessions 2

# ----------------------------------------------------------
# Security
# ----------------------------------------------------------
Banner none
DebianBanner no
PrintLastLog yes
AcceptEnv LANG LC_*

PrintMotd no
PermitTunnel no
ChrootDirectory none
VersionAddendum none
AllowTcpForwarding yes
AllowAgentForwarding no

AllowGroups cwt awx

# ----------------------------------------------------------
# SFTP
# ----------------------------------------------------------
Subsystem sftp  /usr/lib/openssh/sftp-server

#Match Group $SFTPUSER !root (Ausgenommmen root)
Match Group sftp
    ChrootDirectory %h
    ForceCommand internal-sftp
    PermitTunnel no
    X11Forwarding no
    AllowTcpForwarding no
    AllowAgentForwarding no
